body {
    font: 190% georgia, Arial;
    line-height: 1.88889;
    color: #555753;
    background: #fff url(https://image.freepik.com/free-vector/gold-stars-beautifully-arranged-white-background_41084-367.jpg) ;
    margin: 0;
    padding: 200px;
    padding-top: 50px;
    text-align: center;
}