body {
    font: 190% georgia, Arial;
    line-height: 1.88889;
    color: #FFFFFF;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 200px;
    padding-top: 50px;
    text-align: center;
}